In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re
import numpy as np

# 1) Write a python program to display all the header tags from wikipedia.org

In [20]:
#https://en.wikipedia.org/wiki/Main_Page
def header_tags(url):
    m_url = requests.get(url)
    soup = BeautifulSoup(m_url.content,"html.parser")
    header_tags = soup.find_all(['h1','h2','h3','h4','h4','h5'])
    return header_tags


header_tags(url="https://en.wikipedia.org/wiki/Main_Page")

[<h1 class="firstHeading" id="firstHeading">Main Page</h1>,
 <h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>,
 <h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>,
 <h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>,
 <h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>,
 <h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>,
 <h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>,
 <h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>,
 <h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>,
 <h2>Navigation menu</h2>,
 <h3 aria-label="" class="vector-menu-heading" id="p-personal-label">
 <span>Personal tools</span>
 </h3>,
 <h3 aria-label="" class="vector-menu-heading" id="p-namespaces-label">
 <span>Namespaces</span>
 </h3>,
 <h3 aria-label="Change language variant" class="vector-menu-heading" id="p-variants-label">
 <span>Variants</span>
 <span class="vector-menu-checkbox-expanded">expanded</span>
 <span class="vector-menu-checkbox-collapsed">collapsed</span>
 </h3>,
 <h3 aria-label="" class="vector-menu-heading" id="p-views-label">
 <span>Views</span>
 </h3>,
 <h3 aria-label="" class="vector-menu-heading" id="p-cactions-label">
 <span>More</span>
 <span class="vector-menu-checkbox-expanded">expanded</span>
 <span class="vector-menu-checkbox-collapsed">collapsed</span>
 </h3>,
 <h3>
 <label for="searchInput">Search</label>
 </h3>,
 <h3 aria-label="" class="vector-menu-heading" id="p-navigation-label">
 <span>Navigation</span>
 </h3>,
 <h3 aria-label="" class="vector-menu-heading" id="p-interaction-label">
 <span>Contribute</span>
 </h3>,
 <h3 aria-label="" class="vector-menu-heading" id="p-tb-label">
 <span>Tools</span>
 </h3>,
 <h3 aria-label="" class="vector-menu-heading" id="p-coll-print_export-label">
 <span>Print/export</span>
 </h3>,
 <h3 aria-label="" class="vector-menu-heading" id="p-wikibase-otherprojects-label">
 <span>In other projects</span>
 </h3>,
 <h3 aria-label="" class="vector-menu-heading" id="p-lang-label">
 <span>Languages</span>
 </h3>]

# 2) Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) and make data frame.

In [47]:
def imbd_movie_list():
    movies_list = []
    for j in range(0,102,51):
        url = f"https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc&start={j}&ref_=adv_nxt"
        print(j,"===>",url)
        data = requests.get(url)
        soup = BeautifulSoup(data.content,"html.parser")
        li = soup.find_all('div',class_="lister-item mode-advanced")
        
        for m,i in enumerate(li):
            movie_name = i.find('img', alt=True)
            year = i.find('span',class_ = "lister-item-year text-muted unbold").get_text()
            rating = i.find('div',class_ = "inline-block ratings-imdb-rating").get_text()
            #print(movie_translation)
            val  = {"Movie_Name":movie_name['alt'],"Release_Year":year.strip("()"),"Rating":rating.strip()}
            movies_list.append(val)
    df = pd.DataFrame(movies_list)
    print(df)

imbd_movie_list()

0 ===> https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc&start=0&ref_=adv_nxt
51 ===> https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc&start=51&ref_=adv_nxt
                           Movie_Name Release_Year Rating
0            The Shawshank Redemption         1994    9.3
1                       The Godfather         1972    9.2
2                     The Dark Knight         2008    9.0
3              The Godfather: Part II         1974    9.0
4                        12 Angry Men         1957    9.0
..                                ...          ...    ...
95                            Vertigo         1958    8.3
96                Singin' in the Rain         1952    8.3
97                Ladri di biciclette         1948    8.3
98                       Citizen Kane         1941    8.3
99  M - Eine Stadt sucht einen Mörder         1931    8.3

[100 rows x 3 columns]

# 3) Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of
release) and make data frame.

In [4]:
#https://www.imdb.com/india/top-rated-indian-movies/
def IMDB_100_Indian_movies(url):
    tables = pd.read_html(url)
    titles = tables[0]['Rank & Title']
    ratings = tables[0]['IMDb Rating']
    movie_rank = []
    movie_names = []
    release_year = []
    for i in titles:
        rank = i.split()[0].strip('.')
        year = i.split()[-1].strip('()')
        name = " ".join(i.split()[1:-1])
        movie_rank.append(rank)
        movie_names.append(name)
        release_year.append(year)
    df = pd.DataFrame(list(zip(movie_rank ,movie_names ,release_year,ratings)),columns = ['Movie_Rank' ,'Movie_Names' ,'Release_Year','Ratings']) 
    print(df[:100])
    return "success"

IMDB_100_Indian_movies(url="https://www.imdb.com/india/top-rated-indian-movies/")

   Movie_Rank        Movie_Names Release_Year  Ratings
0           1           Jai Bhim         2021      8.6
1           2            Nayakan         1987      8.5
2           3  Pariyerum Perumal         2018      8.5
3           4         Anbe Sivam         2003      8.5
4           5  C/o Kancharapalem         2018      8.5
..        ...                ...          ...      ...
95         96          Sarfarosh         1999      8.1
96         97              Queen         2013      8.1
97         98               Roja         1992      8.1
98         99    OMG: Oh My God!         2012      8.1
99        100     Dil Chahta Hai         2001      8.1

[100 rows x 4 columns]

'success'

# 4) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
    a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
    b) Top 10 ODI Batsmen in men along with the records of their team and rating.
    c) Top 10 ODI bowlers along with the records of their team and rating

# a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [6]:
#https://www.icc-cricket.com/rankings/mens/team-rankings/odi
def top_10_ODI_teams_men(url):
    table = pd.read_html(url)
    df = pd.DataFrame(table[0])
    print(df[:10])
    return "success"

top_10_ODI_teams_men(url="https://www.icc-cricket.com/rankings/mens/team-rankings/odi")

   Pos           Team  T  Matches  M  Points  P  Rating  R
0    1   New Zealand  NZ          17       2054        121
1    2      England  ENG          32       3793        119
2    3    Australia  AUS          28       3244        116
3    4        India  IND          32       3624        113
4    5  South Africa  SA          25       2459         98
5    6     Pakistan  PAK          27       2524         93
6    7   Bangladesh  BAN          30       2740         91
7    8   West Indies  WI          30       2523         84
8    9     Sri Lanka  SL          32       2657         83
9   10  Afghanistan  AFG          17       1054         62

'success'

# b) Top 10 ODI Batsmen in men along with the records of their team and rating.

In [15]:
#https://www.icc-cricket.com/rankings/mens/player-rankings/odi
def top_10_ODI_Batsmen_men(url):
    data = requests.get(url)
    soup = BeautifulSoup(data.content,"html.parser")
    name = soup.find("div",attrs={'class':"rankings-block__banner--name"}).get_text().strip()
    team = soup.find("div",attrs={'class':"rankings-block__banner--nationality"}).get_text().strip()
    rating = soup.find("div",attrs={'class':"rankings-block__banner--rating"}).get_text()
    
    df = pd.DataFrame({"Player": name, "Team": team,"Rating":rating}, index=[0])
    
    tables = pd.read_html(url,attrs = {'class' : 'table rankings-card-table'})
    df1 = pd.DataFrame(tables[0])
    df1.drop(columns = 'Pos',inplace=True)
    df = df.append(df1,ignore_index=False)
    df = df.reset_index(drop=True)
    print(df)
    return 'success'

top_10_ODI_Batsmen_men(url="https://www.icc-cricket.com/rankings/mens/player-rankings/odi")

            Player Team Rating
0       Babar Azam  PAK    873
1      Virat Kohli  IND    844
2     Rohit Sharma  IND    813
3      Ross Taylor   NZ    801
4      Aaron Finch  AUS    779
5   Jonny Bairstow  ENG    775
6     David Warner  AUS    762
7        Shai Hope   WI    758
8  Kane Williamson   NZ    754
9  Quinton de Kock   SA    743

'success'

# c) Top 10 ODI bowlers along with the records of their team and rating

In [16]:
#https://www.icc-cricket.com/rankings/mens/player-rankings/odi
def top_10_ODI_Bowlers_men(url):
    data = requests.get(url)
    soup = BeautifulSoup(data.content,"html.parser")
    Team = soup.find_all("div",attrs={'class':"rankings-block__banner--nationality"})
    rating = soup.find_all("div",attrs={'class':"rankings-block__banner--rating"})
    name = soup.find_all("div",attrs={'class':"rankings-block__banner--name"})
    
    p_name = [i.get_text().strip() for n,i in enumerate(name) if n==1]
    p_rating = [i.get_text().strip() for n,i in enumerate(rating) if n==1]
    p_team = [i.get_text().strip() for n,i in enumerate(Team) if n==1]
    
    df = pd.DataFrame(list(zip(p_name,p_team,p_rating)),columns=['Player','Team','Rating'])
    
    tables = pd.read_html(url,attrs = {'class' : 'table rankings-card-table'})
    df1 = pd.DataFrame(tables[1])
    df1.drop(columns = 'Pos',inplace=True)
    df = df.append(df1,ignore_index=False)
    df = df.reset_index(drop=True)
    print(df)
    return 'success'

top_10_ODI_Bowlers_men(url="https://www.icc-cricket.com/rankings/mens/player-rankings/odi")

             Player Team Rating
0       Trent Boult   NZ    737
1    Josh Hazlewood  AUS    709
2  Mujeeb Ur Rahman  AFG    708
3      Chris Woakes  ENG    700
4      Mehedi Hasan  BAN    692
5        Matt Henry   NZ    691
6    Jasprit Bumrah  IND    679
7    Mitchell Starc  AUS    652
8   Shakib Al Hasan  BAN    650
9     Kagiso Rabada   SA    643

'success'

# 5) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
    
    a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
    b) Top 10 women’s ODI players along with the records of their team and rating.
    c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

# a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [17]:
#https://www.icc-cricket.com/rankings/womens/team-rankings/odi
def top_10_ODI_teams_women(url):
    table = pd.read_html(url)
    df = pd.DataFrame(table[0])
    print(df[:10])
    return "success"

top_10_ODI_teams_women(url="https://www.icc-cricket.com/rankings/womens/team-rankings/odi")

   Pos           Team  T  Matches  M  Points  P  Rating  R
0    1    Australia  AUS          17       2746        162
1    2  South Africa  SA          19       2307        121
2    3      England  ENG          18       2148        119
3    4        India  IND          17       1899        112
4    5   Bangladesh  BAN           5        475         95
5    6   New Zealand  NZ          19       1668         88
6    7   West Indies  WI          19       1658         87
7    8     Pakistan  PAK          18       1226         68
8    9      Ireland  IRE           5        240         48
9   10     Sri Lanka  SL           5        233         47

'success'

# b) Top 10 women’s ODI players along with the records of their team and rating.

In [18]:
#https://www.icc-cricket.com/rankings/womens/player-rankings/odi
def top_10_ODI_Batsmen_women(url):
    data = requests.get(url)
    soup = BeautifulSoup(data.content,"html.parser")
    name = soup.find("div",attrs={'class':"rankings-block__banner--name"}).get_text().strip()
    team = soup.find("div",attrs={'class':"rankings-block__banner--nationality"}).get_text().strip()
    rating = soup.find("div",attrs={'class':"rankings-block__banner--rating"}).get_text()
    
    df = pd.DataFrame({"Player": name, "Team": team,"Rating":rating}, index=[0])
    
    tables = pd.read_html(url,attrs = {'class' : 'table rankings-card-table'})
    df1 = pd.DataFrame(tables[0])
    df1.drop(columns = 'Pos',inplace=True)
    df = df.append(df1,ignore_index=False)
    df = df.reset_index(drop=True)
    print(df)
    return 'success'

top_10_ODI_Batsmen_women(url="https://www.icc-cricket.com/rankings/womens/player-rankings/odi")

              Player Team Rating
0        Lizelle Lee   SA    761
1       Alyssa Healy  AUS    750
2        Mithali Raj  IND    738
3     Tammy Beaumont  ENG    728
4  Amy Satterthwaite   NZ    717
5    Smriti Mandhana  IND    710
6        Meg Lanning  AUS    699
7        Beth Mooney  AUS    690
8    Stafanie Taylor   WI    676
9     Heather Knight  ENG    674

'success'

# c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [19]:
#https://www.icc-cricket.com/rankings/womens/player-rankings/odi
def top_10_ODI_Bowlers_women(url):
    data = requests.get(url)
    soup = BeautifulSoup(data.content,"html.parser")
    Team = soup.find_all("div",attrs={'class':"rankings-block__banner--nationality"})
    rating = soup.find_all("div",attrs={'class':"rankings-block__banner--rating"})
    name = soup.find_all("div",attrs={'class':"rankings-block__banner--name"})
    
    p_name = [i.get_text().strip() for n,i in enumerate(name) if n==1]
    p_rating = [i.get_text().strip() for n,i in enumerate(rating) if n==1]
    p_team = [i.get_text().strip() for n,i in enumerate(Team) if n==1]
    
    df = pd.DataFrame(list(zip(p_name,p_team,p_rating)),columns=['Player','Team','Rating'])
    
    tables = pd.read_html(url,attrs = {'class' : 'table rankings-card-table'})
    df1 = pd.DataFrame(tables[1])
    df1.drop(columns = 'Pos',inplace=True)
    df = df.append(df1,ignore_index=False)
    df = df.reset_index(drop=True)
    print(df)
    return 'success'

top_10_ODI_Bowlers_women(url="https://www.icc-cricket.com/rankings/womens/player-rankings/odi")

              Player Team Rating
0      Jess Jonassen  AUS    760
1     Jhulan Goswami  IND    727
2       Megan Schutt  AUS    717
3     Marizanne Kapp   SA    715
4  Sophie Ecclestone  ENG    701
5     Shabnim Ismail   SA    688
6    Katherine Brunt  ENG    666
7     Ayabonga Khaka   SA    643
8     Anya Shrubsole  ENG    598
9         Kate Cross  ENG    589

'success'

# 6) Write a python program to scrape details of all the posts from coreyms.com. Scrape the heading, date, content and the code for the video from the link for the youtube video from the post.

In [36]:
def coreyms_website(url):
    
    data = requests.get(url)
    soup = BeautifulSoup(data.content,"html.parser")
    pagination = soup.find('div',class_="archive-pagination pagination")
    page_number = []
    for i in soup.find('div',class_="archive-pagination pagination"):
        u = i.find_all('a',href=True)
        print(u[-2].get_text())
        page_number.append(u[-2].get_text())
    data = []
    for page_ in range(1,int(page_number[0])+1):
        #print(url+f"page/{page_}")
        in_url = url+f"page/{page_}"
        print(in_url)
        in_data = requests.get(in_url)
        in_soup = BeautifulSoup(in_data.content,"html.parser")
        in_class = in_soup.find('main',class_='content')
        for i in in_class:
            try:
                heading =i.find('a',href=True).get_text()
            except:
                heading = ""
            try:
                time = i.find('time',class_='entry-time').get_text()
            except:
                time = ""
            try:
                content = i.find('div',class_='entry-content').get_text().strip()
            except:
                content = ""
            try:
                youtube_link = i.find('iframe',class_='youtube-player')['src']
            except:
                youtube_link = ""
            val = {"Headings":heading,"Date":time,"Content":content,"Youtube_Link":youtube_link}
            data.append(val)
    df = pd.DataFrame(data)   
    print("Before deleting empty rows : ",len(df))
    df['Content'].replace("",np.nan,inplace=True)
    df.dropna(subset=['Content'], inplace=True)
    df = df.reset_index(drop=True)
    print("After deleting empty rows : ",len(df))
    print(df)
    
    return "success"

coreyms_website(url="https://coreyms.com/")

17
https://coreyms.com/page/1
https://coreyms.com/page/2
https://coreyms.com/page/3
https://coreyms.com/page/4
https://coreyms.com/page/5
https://coreyms.com/page/6
https://coreyms.com/page/7
https://coreyms.com/page/8
https://coreyms.com/page/9
https://coreyms.com/page/10
https://coreyms.com/page/11
https://coreyms.com/page/12
https://coreyms.com/page/13
https://coreyms.com/page/14
https://coreyms.com/page/15
https://coreyms.com/page/16
https://coreyms.com/page/17
Before deleting empty rows :  190
After deleting empty rows :  160
                                              Headings                Date  \
0    Python Tutorial: Zip Files – Creating and Extr...   November 19, 2019
1    Python Data Science Tutorial: Analyzing the 20...    October 17, 2019
2    Python Multiprocessing Tutorial: Run Code in P...  September 21, 2019
3    Python Threading Tutorial: Run Code Concurrent...  September 12, 2019
4                                  Update (2019-09-03)   September 3, 2019
..                                                 ...                 ...
155    Quick Tip: Use a Wooden Pallet as a Lumber Rack      April 21, 2014
156  How to Record Sound From Your Computer’s Speak...       March 2, 2014
157                            Ems and Rems for Sizing  September 21, 2013
158                             How to Build a Pergola  September 12, 2013
159  Adding Custom Web Fonts to Your Web Site Using...        July 1, 2013

                                               Content  \
0    In this video, we will be learning how to crea...
1    In this Python Programming video, we will be l...
2    In this Python Programming video, we will be l...
3    In this Python Programming video, we will be l...
4    Hey everyone. I wanted to give you an update o...
..                                                 ...
155  Making a lumber rack for the workshop is a tas...
156  At times, you may want to record sound from yo...
157  What are Ems and Rems?\nEms and Rems both are ...
158  Building a pergola is a fun and easy project. ...
159  Adding custom web fonts to your website is one...

                                          Youtube_Link
0    https://www.youtube.com/embed/z0gguhEmWiY?vers...
1    https://www.youtube.com/embed/_P7X8tMplsw?vers...
2    https://www.youtube.com/embed/fKl2JW_qrso?vers...
3    https://www.youtube.com/embed/IEEhzQoKtQU?vers...
4
..                                                 ...
155
156
157
158
159  https://www.youtube.com/embed/y2AlgMII1OU?vers...

[160 rows x 4 columns]

'success'

# 7) Write a python program to scrape house details from mentioned URL. It should include house title, location,area, EMI and price from nobroker.in.

In [3]:
def nobroker_fun(url):
    data = requests.get(url)
    soup = BeautifulSoup(data.content,"html.parser")
    data = []
    for i in soup.find_all('article'):
        House_title = i.find('h2',class_="heading-6 font-semi-bold nb__25Cl7").get_text()
        Location = i.find('div',class_="nb__1EwQz").get_text()
        Area = i.find('div',class_="nb__FfHqA").get_text()
        EMI = i.find('div',id="roomType").get_text()
        scrap_price = i.find('div',id='minDeposit').get_text()
        regex = r'₹[0-9]+,[0-9]+ per sq.ft.'
        price = re.sub(regex,"",scrap_price)
        val = {"House_title":House_title,"Location":Location,"Area":Area,"EMI":EMI,'Price':price}
        data.append(val)
    df = pd.DataFrame(data) 
    print(df)
    return 'success'

nobroker_fun(url='https://www.nobroker.in/property/sale/bangalore/Electronic%20City?type=BHK4&searchParam=W3sibGF0IjoxMi44N%20DUyMTQ1LCJsb24iOjc3LjY2MDE2OTUsInBsYWNlSWQiOiJDaElKdy1GUWQ0cHNyanNSSGZkYXpnXzhYRW8%20iLCJwbGFjZU5hbWUiOiJFbGVjdHJvbmljIENpdHkifV0=&propertyAge=0&radius=2.0')

                                          House_title  \
0   4 BHK In Independent House  For Sale  In Hebba...
1   4 BHK In Independent House  For Sale  In Elect...
2           4 BHK Flat  For Sale  In Electronic City
3   4 BHK Apartment  For Sale  In Nisarga Residenc...
4   4 BHK Flat  For Sale  In Sobha Silicon Oasis  ...
5   4 BHK For Sale  In Daadys Garden In Electronic...
6         4 BHK Flat  For Sale  In , Electronic City
7   4 BHK Flat  For Sale  In Hosa Road, Parappana ...
8   4 BHK In Independent House  For Sale  In Elect...
9   4 BHK In Independent House  For Sale  In Elect...
10  4 BHK Apartment  For Sale  In Gopalan Gardenia...
11       4 BHK For Sale  In Gpr Royale In Gpr Royale
12  4 BHK In Independent House  For Sale  In Sarja...
13  4 BHK Flat  For Sale  In Heena Enclave In Elec...
14  4 BHK For Sale  In Deccan Palms Park In Electr...
15  4 BHK In Independent House  For Sale  In Elect...

                                             Location        Area  \
0   Independent House, Bangalore - Hosur Road, Nea...  1,800 sqft
1                    Independent House, brand factory  2,000 sqft
2   Standalone Building, YOUNG LIFE PG FOR LADIES,...  1,120 sqft
3   Nisarga Residency  Near Thali Resturant, Anant...  2,000 sqft
4   Sobha Silicon Oasis Naganathapura, Rayasandra ...  1,879 sqft
5   Daadys Garden  Kammasandra Rd, Kammasandra, El...  2,600 sqft
6   Standalone Building, 16th Cross Road Neeladri ...  2,000 sqft
7   Standalone Building, 11th cross.anjanadri lay out  3,000 sqft
8               Independent House, surya nagar face 1  3,000 sqft
9    Independent House, Hosur Rd,Near Infosys Limited  1,200 sqft
10  Gopalan Gardenia  Gopalan gardenia, Veerasandr...  2,650 sqft
11                                          6th Cross  3,100 sqft
12  Independent House,  Shantipura Village , S.P L...  1,100 sqft
13            Neeladri Nagar,Near Pioneer Sun Blossom  2,350 sqft
14  Deccan Palms Park  Deccan Palms Villas, Deccan...  3,000 sqft
15  Independent House, Industrial Area Near Tech M...  1,500 sqft

                 EMI         Price
0      ₹77,374/Month  ₹1.35 Crores
1      ₹39,546/Month      ₹69 Lacs
2      ₹28,657/Month      ₹50 Lacs
3      ₹45,851/Month      ₹80 Lacs
4      ₹91,703/Month   ₹1.6 Crores
5      ₹85,971/Month   ₹1.5 Crores
6      ₹39,546/Month      ₹69 Lacs
7      ₹71,643/Month  ₹1.25 Crores
8   ₹1.43 Lacs/Month   ₹2.5 Crores
9      ₹42,985/Month      ₹75 Lacs
10     ₹68,777/Month   ₹1.2 Crores
11     ₹85,971/Month   ₹1.5 Crores
12     ₹40,120/Month      ₹70 Lacs
13     ₹71,643/Month  ₹1.25 Crores
14     ₹85,971/Month   ₹1.5 Crores
15     ₹57,314/Month      ₹1 Crore

'success'

# 8) Write a python program to scrape mentioned details from dineout.co.in :
    
    i) Restaurant name
    ii) Cuisine
    iii) Location
    iv) Ratings
    v) Image URL

In [5]:
def dineout_restaurent(url):
    data = requests.get(url)
    soup = BeautifulSoup(data.content,"html.parser")
    data = []
    for i in soup.find_all('div',attrs={'class':'restnt-card restaurant'}):
        Restaurant_Name = i.find('a',href=True).get_text()
        Cuisine = i.find('span',class_="double-line-ellipsis").get_text().split('|')[1]
        Location = i.find('div',class_="restnt-loc ellipsis").get_text()
        Ratings = i.find('div',class_="restnt-rating rating-4").get_text()
        Image_URL = i.find('img',class_='lazy-load-img no-img')['data-src']
        val = {"Restaurant_Name":Restaurant_Name,"Cuisine":Cuisine,"Location":Location,"Ratings":Ratings,'Image_URL':Image_URL}
        data.append(val)
    df = pd.DataFrame(data) 
    print(df)
    return 'success'
dineout_restaurent(url='https://www.dineout.co.in/delhi-restaurants/buffet-special')

                     Restaurant_Name  \
0                    Castle Barbeque
1                    Jungle Jamboree
2                    Castle Barbeque
3                         Cafe Knosh
4               The Barbeque Company
5                        India Grill
6                     Delhi Barbeque
7   The Monarch - Bar Be Que Village
8                         World Cafe
9                  Indian Grill Room
10                   Mad 4 Bar B Que
11                       Barbeque 29
12                        Glasshouse

                                              Cuisine  \
0                               Chinese, North Indian
1              North Indian, Barbecue, Italian, Asian
2                               North Indian, Chinese
3    Multi-Cuisine, North Indian, Italian, Contine...
4            Barbecue, Chinese, Mughlai, North Indian
5                    North Indian, Italian, Oriental
6                              Barbecue, North Indian
7                    North Indian, Chinese, Fast Food
8                  North Indian, Chinese, Continental
9                     North Indian, Mughlai, Barbecue
10                              North Indian, Mughlai
11                    North Indian, Chinese, Barbecue
12   Multi-Cuisine, Asian, European, Italian, Nort...

                                             Location Ratings  \
0                      Connaught Place, Central Delhi     3.5
1              3CS Mall,Lajpat Nagar - 3, South Delhi     3.9
2              Pacific Mall,Tagore Garden, West Delhi       4
3   The Leela Ambience Convention Hotel,Shahdara, ...     4.3
4                  Gardens Galleria,Sector 38A, Noida     4.1
5                Hilton Garden Inn,Saket, South Delhi     3.9
6      Taurus Sarovar Portico,Mahipalpur, South Delhi     3.6
7   Indirapuram Habitat Centre,Indirapuram, Ghaziabad     3.9
8    Vibe by The Lalit Traveller,Sector 35, Faridabad     4.2
9    Suncity Business Tower,Golf Course Road, Gurgaon     4.3
10                               Sector 29, Faridabad     3.9
11                                     NIT, Faridabad     4.2
12  DoubleTree By Hilton Gurugram Baani Square,Sec...     4.1

                                            Image_URL
0   https://im1.dineout.co.in/images/uploads/resta...
1   https://im1.dineout.co.in/images/uploads/resta...
2   https://im1.dineout.co.in/images/uploads/resta...
3   https://im1.dineout.co.in/images/uploads/resta...
4   https://im1.dineout.co.in/images/uploads/resta...
5   https://im1.dineout.co.in/images/uploads/resta...
6   https://im1.dineout.co.in/images/uploads/resta...
7   https://im1.dineout.co.in/images/uploads/resta...
8   https://im1.dineout.co.in/images/uploads/resta...
9   https://im1.dineout.co.in/images/uploads/resta...
10  https://im1.dineout.co.in/images/uploads/resta...
11  https://im1.dineout.co.in/images/uploads/resta...
12  https://im1.dineout.co.in/images/uploads/resta...

'success'

# 9) Write a python program to scrape weather details for last 24 hours from Tutiempo.net :
    
    i) Hour
    ii) Temperature
    iii) Wind
    iv) Weather condition
    v) Humidity
    vi) Pressure

In [10]:
def weather_details(url):
    tables = pd.read_html(url)
    df = pd.DataFrame(tables[3])
    df.dropna(inplace=True)
    df = df.reset_index(drop=True)
    df = df.drop([df.index[41],df.index[42]])
    df = df.reset_index(drop=True)
    df.rename(columns={"Weather conditionWC":'Weather condition','Tem.':'Temperature','Hum.':"Humidity"},inplace=True)
    print(df)
    return 'success'
weather_details(url="https://en.tutiempo.net/delhi.html?data=last-24-hours")

    Today
     Hour Weather condition Temperature     Wind Humidity  Pressure
0   20:00        Light Rain        16°C  11 km/h     100%  1017 hPa
1   19:30        Light Rain        16°C   6 km/h     100%  1018 hPa
2   19:00        Light Rain        16°C   7 km/h     100%  1018 hPa
3   18:30        Light Rain        16°C   6 km/h     100%  1017 hPa
4   18:00           Drizzle        16°C   6 km/h     100%  1017 hPa
5   17:30        Light Rain        16°C   6 km/h     100%  1017 hPa
6   17:00        Light Rain        17°C  11 km/h      94%  1018 hPa
7   16:30        Light Rain        17°C  13 km/h     100%  1018 hPa
8   16:00        Light Rain        17°C  11 km/h     100%  1017 hPa
9   15:30           Drizzle        17°C   7 km/h     100%  1017 hPa
10  15:00           Drizzle        18°C   7 km/h      94%     - hPa
11  14:30           Drizzle        18°C   7 km/h      88%     - hPa
12  14:00        Light Rain        19°C   9 km/h      83%  1017 hPa
13  13:30        Light Rain        18°C   9 km/h      83%  1017 hPa
14  13:00              Mist        19°C   9 km/h      78%  1017 hPa
15  12:30              Mist        19°C   9 km/h      78%  1018 hPa
16  12:00              Mist        18°C   9 km/h      83%  1018 hPa
17  11:30              Mist        18°C   7 km/h      88%  1019 hPa
18  11:00              Mist        18°C   7 km/h      88%  1019 hPa
19  10:30              Mist        18°C   9 km/h      88%  1020 hPa
20  10:00              Mist        17°C   7 km/h      82%  1020 hPa
21  09:30               Fog        17°C   7 km/h      82%  1020 hPa
22  09:00               Fog        16°C   7 km/h      88%  1019 hPa
23  08:30               Fog        16°C   7 km/h      88%  1019 hPa
24  08:00               Fog        15°C     Calm      88%  1018 hPa
25  07:30               Fog        15°C   6 km/h      88%  1018 hPa
26  07:00               Fog        15°C   9 km/h      88%  1018 hPa
27  06:30              Mist        15°C   6 km/h      88%  1017 hPa
28  06:00              Mist        15°C   7 km/h      88%  1017 hPa
29  05:30              Mist        15°C   6 km/h      88%  1016 hPa
30  05:00              Mist        15°C   6 km/h      88%  1016 hPa
31  04:30              Mist        16°C   7 km/h      82%  1016 hPa
32  04:00              Mist        16°C   6 km/h      82%  1016 hPa
33  03:30              Mist        16°C   6 km/h      82%  1016 hPa
34  03:00              Mist        16°C   6 km/h      82%  1016 hPa
35  02:30              Mist        16°C   6 km/h      82%  1017 hPa
36  02:00              Mist        16°C   6 km/h      82%  1017 hPa
37  01:30              Mist        16°C   6 km/h      82%  1017 hPa
38  01:00              Mist        17°C     Calm      82%  1017 hPa
39  00:30              Mist        17°C     Calm      82%  1017 hPa
40  00:00              Mist        17°C     Calm      82%  1017 hPa
41  23:30              Mist        17°C     Calm      82%  1017 hPa
42  23:00              Mist        17°C     Calm      82%  1017 hPa
43  22:30              Mist        18°C     Calm      83%  1017 hPa
44  22:00              Mist        18°C     Calm      83%  1017 hPa
45  21:30              Mist        18°C     Calm      83%  1017 hPa
46  21:00              Mist        18°C     Calm      83%  1017 hPa
47  20:30              Mist        18°C   6 km/h      83%  1017 hPa
48  20:00              Mist        19°C     Calm      78%  1017 hPa
49  19:30              Mist        19°C     Calm      78%  1016 hPa

'success'

# 10) Write a python program to scrape monument name, monument description, image URL about top 10 monuments from puredestinations.co.uk

In [12]:
def monuments(url):
    data = requests.get(url)
    soup = BeautifulSoup(data.content,"html.parser")
    all_p = [i.get_text() for i in soup.find_all('p')]
    final_p = all_p[4:33]
    f_li = list(filter(lambda x:x!='',final_p))
    Monument_Name = f_li[::2]
    Monument_Description = f_li[1::2]
    Images_Url = []
    for n,i in enumerate(soup.find_all('img',class_='alignnone')):
        try:
            Images_Url.append(i['data-src'])
        except:
            pass

    df = pd.DataFrame(list(zip(Monument_Name,Monument_Description,Images_Url)),columns=['Monument_Name','Monument_Description','Images_Url'])
    print(df)
    return 'success'
monuments(url='https://www.puredestinations.co.uk/top-10-famous-monuments-to-visit-in-india/')

                                Monument_Name  \
0                             Taj Mahal, Agra
1  Golden Temple (Harmandir Sahib), Amritsar
2                   Meenakshi Temple, Madurai
3                       Mysore Palace, Mysore
4                    Gateway of India, Mumbai
5                         Red Fort, New Delhi
6                          Hawa Mahal, Jaipur
7                      Qutub Minar, New Delhi
8                        Sanchi Stupa, Sanchi
9                        Charminar, Hyderabad

                                Monument_Description  \
0  Enlisted in the Seven Wonders of the World, Th...
1  The holiest shrine and pilgrimage place locate...
2  Meenakshi Temple is situated on the Southern b...
3  The Mysore Palace is a famous historical monum...
4  Even though Mumbai is famous for its Bollywood...
5  Declared as the UNESCO’s World Heritage Site, ...
6  Explore a blend of beauty and Rajasthan cultur...
7  Discover one of the tallest towers in the worl...
8  The beautiful and massive dome, Sanchi Stupa a...
9  No visit to Hyderabad should be complete witho...

                                          Images_Url
0  http://www.puredestinations.co.uk/wp-content/u...
1  http://www.puredestinations.co.uk/wp-content/u...
2  http://www.puredestinations.co.uk/wp-content/u...
3  http://www.puredestinations.co.uk/wp-content/u...
4  http://www.puredestinations.co.uk/wp-content/u...
5  http://www.puredestinations.co.uk/wp-content/u...
6  http://www.puredestinations.co.uk/wp-content/u...
7  http://www.puredestinations.co.uk/wp-content/u...
8  http://www.puredestinations.co.uk/wp-content/u...
9  http://www.puredestinations.co.uk/wp-content/u...

'success'